################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lyric-Parser/v17
/.vs/Lyric-Parser
