*, *::before, *::after {
	box-sizing: border-box;
}

#subveil {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

header button {
	border-radius: 20px;
	min-height: 35px;
}

.three-header-right{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#metaButtons {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

main {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

main > section {
	flex-grow: 1;
	min-width: 300px;
	background-color: var(--content-color);
	padding: 5px;
}

.sec-btn-header {
	width: 100%;
	display: flex;
}

.sec-btn-header > :not(button) {
	flex-grow: 1;
}

h2, h3 {
	margin: 0;
}

.element-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input-list-line {
	margin-top: 4px;
	margin-bottom: 4px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}