main {
	max-width: 1100px;
	background-color: var(--content-color);
	margin: auto;
	padding: 5px;
}

h1 {
	margin-bottom: 0px;
}

.subtitle {
	font-style: italic;
	font-size: 0.9em;
}

h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

nav {
	margin: 10px;
}

#topNav {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	margin: 0px;
	justify-content: center;
	align-items: baseline;
}

#topNav a {
	display: inline-block;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	background-color: var(--accent-color);
	color: var(--heading-color);
}

nav ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

nav li {
	display: block;
	min-height: 30px;
	margin-bottom: 5px;
	text-align: center;
	flex-grow: 1;
}