body {
	max-width: 1800px;
	margin: auto;
}

main {
	max-width: 1100px;
	flex-grow: 1;
	background-color: var(--content-color);
	padding: 5px;
	margin: 10px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.subtitle {
	font-style: italic;
	font-size: 0.9em;
}

h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	margin-top: 5px;
	margin-bottom: 23px;
}

nav {
	margin: 10px;
}

#topNav {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	margin: 0px;
	justify-content: center;
	align-items: baseline;
}

#topNav a {
	display: inline-block;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	background-color: var(--accent-color);
	color: var(--heading-color);
}

nav ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

nav li {
	display: block;
	min-height: 30px;
	margin-bottom: 5px;
	text-align: center;
	flex-grow: 1;
}

#centerPage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

#commentAside {
	margin: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

gw-comment-list > * {
	margin: auto;
}

#commentAside h2 {
	text-align: center;
}

gw-themer * {
	box-sizing: content-box !important;
}

gw-themer h2 {
	font-size: 1.2em;
}

gw-themer table, gw-themer th, gw-themer td {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-collapse: collapse;
}

gw-themer th {
	padding-right: 5px
}

gw-themer td, gw-themer th {
	padding-top: 5px
}