*, *::before, *::after {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

#subveil {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.three-header {
	margin-bottom: 5px;
}

.three-header-right {
	display: flex;
	flex-direction: column;
	gap: 5px;
	min-width: 300px;
}

.three-header-right .input-vertical {
	align-items: center;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;
}

#mainPageCtrl {
	flex-grow: 1;
	height: 100%;
	min-height: 0;
}

#mainPageCtrl_pgc {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;
	background-color: var(--content-color);
}
#mainPageCtrl_pgc > * {
	flex-grow: 1;
}

.card:focus .card-header {
	color: var(--accent-color);
	background-color: var(--heading-color);
}

.card:focus .card-header::after {
	content: "<";
	color: var(--accent-color);
}

gw-release-display {
	display: block;
}

gw-release-display .card-header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 25px;
}

.header-time {
	font-size: 0.8em;
	font-style: italic;
}

.release-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;
}

.release-content img {
	max-height: 500px;
	width: 100%;
}

.release-content li{
	padding: 5px;
}

.release-content a {
	padding: 3px;
	background-color: var(--accent-color);
	border-radius: 20px;
}

#trackList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	padding: 0px;
}

gw-track-display h4:not(:nth-of-type(1)) {
	margin-top: 3px;
}

gw-track-display h5 {
	margin-top: 4px;
}

.disp-line {
	margin-left: 4px;
}

.disp-line label {
	font-weight: lighter;
	font-size: 0.9em;
}

sup {
	font-size: 0.8em;
}

#searchForm {
	padding: 10px;
	max-width: 500px;
	margin: auto;
}

#lblSearch {
	flex-grow: 0;
	word-break: break-all;
}

#txtSearch {
	flex-grow: 1;
	height: 1.5em;
	border-radius: 20px;
	padding-left: 10px;
}

#searchSubmit {
	margin-left: 5px;
	align-self: stretch;
	border-radius: 20px;
}

#hResults {
	text-align: center;
}

gw-result {
	display: block;
}

#searchResultList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0px;
}